.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-container h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
  margin-top: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-text {
  font-size: 1.2rem;
  color: #666;
  text-align: center;
  margin-top: 0;
}

.login-button,
.signup-button {
  background-color: #555555;
  color: white;
  font-size: 1rem;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

.login-button:hover,
.signup-button:hover {
  background-color: #333333;
}

.signup-text,
.toggle-text {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #666;
  text-align: center;
  border: none;
}

.signup-link,
.toggle-link {
  color: #4a90e2;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  border: none;
}

.signup-link:hover,
.toggle-link:hover {
  color: #3a78c5;
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
}
